<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeasn.whitelist.dao.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.zeasn.whitelist.dao.entity.Role" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rid" property="rid" jdbcType="BIGINT" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
  </resultMap>
</mapper>